# ==========================================
# CHIAVI API 
# ==========================================
# Senza queste chiavi, il bot non funzionerà.
DEEPSEEK_API_KEY="tua_chiave_deepseek_qui"
#puoi anche non inserire la chiave Deepseek e utilizzare un LLM locale(obbligatorio se non si ha una key)
TAVILY_API_KEY="tua_chiave_tavily_qui"

# (Opzionale) Usato solo se decidi di usare API Ollama esterne
OLLAMA_API_KEY=""

# ==========================================
# DATABASE POSTGRESQL
# ==========================================
# Se usi Docker (raccomandato), commenta la riga sotto perché viene gestito da docker-compose:
DATABASE_URI=postgresql://user:password@localhost:5432/hotel_db
# Se usi Docker, verranno usate queste variabili per creare il DB:
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=hotel_db

# ==========================================
# CONFIGURAZIONE EMAIL (Opzionale ma raccomandata)
# ==========================================
# Inserisci una password per le app di Gmail (non la password standard)
EMAIL_MITTENTE="tua_email@gmail.com"
EMAIL_APP_PASSWORD="tua_password_app_google"
EMAIL_DESTINATARIO="email_che_riceve_notifiche@gmail.com"
